<div class="spacer visible-xs"></div>
<div class="container-fluid-full">
    <h3 class="page-title">
        Accounts
    </h3>

    <div link-breadcrumb></div>

    <div id="dashboard_page">
        <div class="row" style="margin-bottom: 25px">
            <div class="col-md-6 col-xs-12">
                <a href="/accounts/create" class="btn btn-primary"><i class="fa fa-plus-circle"></i>
                    Add Account
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-container table-responsive">

                    <div ng-include="'/assets/partials/accounts-list-pagination.html'"></div>

                    <table class="table table-striped table-bordered" id="accounts_table">
                        <thead>
                        <tr role="row" class="filter">
                            <td>
                                <input type="number" class="form-control form-filter input-sm" name="account_id"
                                       ng-model="filter.uid" ng-enter="searchAccounts()" placeholder="Filter ID">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="account_username"
                                       ng-model="filter.username" ng-enter="searchAccounts()" placeholder="Filter Username">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="account_email"
                                       ng-model="filter.email" ng-enter="searchAccounts()" placeholder="Filter Email">
                            </td>

                            <td>
                                <select ng-model="filter.type" ng-change="searchAccounts()" class="form-control form-filter input-sm">
                                    <option value="">Filter Types</option>
                                    <option value="1">Administrator</option>
                                    <option value="2">Operator</option>
                                    <option value="3">Agency</option>
                                </select>
                            </td>
                            <td>
                                <select name="agency" class="form-control" ng-options="ag.agencyID as ag.agencyName for ag in agencies" ng-model="filter.agency" ng-change="searchAccounts()" >
                                    <option value="">Filter Agency</option>

                                </select>
                            </td>
                            <td>

                            </td>
                            <td>
                            </td>

                            <td>

                                <button class="btn btn-sm yellow btn-block filter-submit margin-bottom-5"
                                        data-ng-click="searchAccounts()">
                                    <i class="fa fa-search"></i> Search
                                </button>

                                <button class="btn btn-sm red btn-block filter-cancel" data-ng-click="resetFilter()">
                                    <i class="fa fa-times-circle-o"></i> Reset
                                </button>
                            </td>
                        </tr>
                        <tr role="row" class="heading">
                            <th width="7%">
                                <a ng-click="sort('id')">ID</a>
                            </th>
                            <th width="15%">
                                <a ng-click="sort('username')">Username</a>
                            </th>
                            <th width="15%">
                                <a ng-click="sort('email')">Email</a>
                            </th>
                            <th width="15%">
                                <a ng-click="sort('accountTypeName')">Account Type</a>
                            </th>
                            <th width="15%">
                                <a ng-click="sort('agencyName')">Agency</a>
                            </th>
                            <th width="10%">
                                <a ng-click="sort('created_at')">Date Created</a>
                            </th>
                            <th width="10%">
                                <a ng-click="sort('updated_at')">Date Updated</a>
                            </th>
                            <th width="10%">
                                Actions
                            </th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr ng-hide="l_accounts.$resolved">
                            <td colspan="99">
                                <div loading-pendulums></div>
                            </td>
                        </tr>
                        <tr ng-show="l_accounts.$resolved" ng-repeat="acc in l_accounts.data">
                            <td>
                                {{acc.id}}
                            </td>
                            <td>
                                {{acc.username}}
                            </td>
                            <td>
                                {{acc.email}}
                            </td>
                            <td>
                                {{acc.accountTypeName}}
                            </td>
                            <td>
                                {{acc.agencyName}}
                            </td>
                            <td>
                                {{acc.created_at}}
                            </td>
                            <td>
                                {{acc.updated_at}}
                            </td>
                            <td>
                                <a ng-hide="{{acc.id == auth.id}}" href="accounts/edit/{{acc.id}}" class="btn btn-primary btn-block margin-bottom-5">
                                    Edit
                                </a>
                                <a data-ng-click="deleteAcc(acc.id)" class="btn btn-danger btn-block">
                                    Delete
                                </a>
                                <a data-ng-click="accountResetPass(acc.id, acc.username, acc.accountTypeName)" class="btn btn-info btn-block">
                                    Reset Password
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div ng-include="'/assets/partials/accounts-list-pagination.html'"></div>

                </div>
            </div>
        </div>
    </div>

</div>