<br><br><br><br><br>
<head>
</head>

<h1 style="padding-left: 100px">Create Agency</h1>
<br><br>
<form id="createAgencyForm" class="form-horizontal" role="form" ng-submit="createAgency()" >
    <div class="form-group">
        <label class="col-sm-2 control-label">Agency Name:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="agencyName" placeholder="Agency">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Address:</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" name="agencyAdd" placeholder="Bukit Batok Ave 5 St 22">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Tel No:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="agencyTel" placeholder="61234567">
        </div>
    </div>
    <br>
    <div class='form-group'>
        <div class='col-sm-10 col-sm-offset-2'>
            <button type="submit" id="submit" name="submit">SUBMIT</button>
        </div>
    </div>
    <br>
</form>
