<div class="spacer visible-xs"></div>
<div class="container-fluid-full">

    <h3 class="page-title">
        Add Agency
    </h3>

    <div link-breadcrumb></div>

    <form id="createAgencyForm" class="form-horizontal" role="form" ng-controller="AdminCtrl">
        <div class="form-group">
            <label class="col-sm-2 control-label">Agency Name:</label>

            <div class="col-sm-8">
                <input type="text" ng-model="name" placeholder="Agency"/>
            </div>
        </div>
        <br>

        <div class="form-group">
            <label class="col-sm-2 control-label">Agency Address:</label>

            <div class="col-sm-8">
                <input type="text" ng-model="add" placeholder="Bukit Batok Ave 5 St 22"/>
            </div>
        </div>
        <br>

        <div class="form-group">
            <label class="col-sm-2 control-label">Agency Tel:</label>

            <div class="col-sm-8">
                <input type="text" ng-model="tel" placeholder="61234567"/>
            </div>
        </div>
        <br>

        <div class='form-group'>
            <div class='col-sm-10 col-sm-offset-2'>
                <input type="button" ng-click="cAgency()" value="Create"/>
            </div>
        </div>
        <br>
    </form>

</div>