<div class="spacer visible-xs"></div>
<div class="container-fluid-full">

    <h3 class="page-title">
        Edit Account
    </h3>

    <div link-breadcrumb></div>

    <div id="dashboard_page">
        <form name="e_accountForm" class="form form-horizontal" ng-init="loadEdit()" ng-submit="updateAcc()">
            <div class="portlet box grey-gallery">
                <div class="portlet-title">
                    <div class="caption">
                        Account Details
                    </div>
                </div>

                <div class="portlet-body">
                    <!--<button type="button" class="btn btn-default" aria-label="Left Align">-->
                    <!--<span class="fa fa-plus" aria-hidden="true"></span>-->
                    <!--</button>-->

                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label">Username </label>

                        <div class="col-md-7 col-xs-12">
                            <input type="text" class="form-control input-lg" name="username" required
                                   ng-model="e_account.username" placeholder="type desired username"/>
                        </div>
                        <div class="col-md-3 col-xs-12 input-error">
                            {{username.error}}
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label">Email </label>

                        <div class="col-md-7 col-xs-12">
                            <input type="text" class="form-control input-lg" name="email" required
                                   ng-model="e_account.email" placeholder="type desired email"/>
                        </div>
                        <div class="col-md-3 col-xs-12 input-error">
                            {{email.error}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label">Account Type </label>

                        <div class="col-md-7 col-xs-12">
                            <select name="type" class="form-control" ng-options="acc.accountTypeId as acc.accountTypeName for acc in accountTypes" ng-model="e_account.accountType" ng-change="checkAg(e_account.accountType)">

                            </select>
                        </div>
                        <div class="col-md-3 col-xs-12">
                        </div>
                    </div>


                    <div class="form-group" ng-show="c_agency">
                        <label class="col-md-2 col-xs-12 control-label">Agency </label>

                        <div class="col-md-7 col-xs-12">
                            <select name="agency" class="form-control" ng-options="ag.agencyID as ag.agencyName for ag in agencies" ng-model="e_account.agencyId" >
                                <option value="">Select an Agency</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-xs-12">
                        </div>
                    </div>



                    <div class="clearfix"></div>


                </div>
            </div>
            <div class="form-group form-actions visible-md visible-lg">
                <div class="col-md-7 text-right">
                    <button type="submit" class="btn btn-lg green"
                            data-loading-text="Updating...">
                                    <span ng-hide="acc_update">
                                        <i class="fa fa-save"></i> Update
                                    </span>
                                    <span ng-show="acc_update">
                                        <i class="fa fa-spinner fa-spin"></i> Updating...
                                    </span>
                    </button>
                    <a href="/accounts/list" class="btn btn-lg btn-default"><i class="fa fa-times-circle-o"></i> Cancel</a>
                </div>
            </div>

        </form>

    </div>
</div>