<div class="spacer visible-xs"></div>
<div class="container-fluid-full">
    <div class="row-fluid visible-lg visible-md visible-sm">
        <div class="login-box">

            <h2>Admin Login</h2>
            <form id="loginForm" class="form-horizontal" ng-submit="authLogin()">


                <div class="form-group">

                    <div class="col-md-11">
                        <input type="text" class="form-control" name="username" ng-model="field_login.username" placeholder="type username" />

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-11">
                        <input type="password" class="form-control" name="password" ng-model="field_login.password" placeholder="type password" />

                    </div>
                </div>

                <div class="error_message" data-ng-if="auth_error">
                    <span data-ng-bind="auth_error"></span>
                </div>



                <div class="button-login col-md-12">
                    <button type="submit" data-ng-hide="logging_in" class="btn btn-primary pull-right">Login</button>
                    <button type="submit" data-ng-show="logging_in" class="btn btn-primary pull-right"><i class="fa fa-spin fa-spinner"></i>Logging in</button>
                </div>
                <div class="clearfix"></div>
            </form>
            <hr>

        </div><!--/span-->
    </div><!--/row-->

    <div class="row visible-xs mobile-login">
        <h2>Admin Login</h2>

        <form action="login" method="post">
            <div class="form-group">

                <div class="col-md-12">
                    <input type="text" class="form-control" name="username" placeholder="type username"/>
                </div>

                <div class="col-md-12">
                    <input type="password" class="form-control" name="password" placeholder="type password"/>
                </div>

                <div class="button-login">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>



</div><!--/.fluid-container-->