<br><br><br>
<!--<h1 style="padding-left: 100px">Manage Reports</h1>-->
<div class="table-responsive " style="padding-left:50px;" ng-init="listReports()">
    <h3 class="page-title">{{currentAgencyName}}</h3>
    <br>
    <h4 class="page-title">Pending</h4>
    <table class="table table-bordered" style="width:1100px;">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Location</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Comment</th>
            <th>Actions</th>

        </tr>
        <tr ng-repeat="report in reportList" ng-if="report.status == 1 && report.assignedTo == currentAgencyId && report.isDeleted == 0" class="danger" >
            <td>{{report.reportID}}</td>
            <td>{{report.reportName}}</td>
            <td>{{report.location}}</td>
            <td>{{report.created_at}}</td>
            <td>{{report.updated_at}}</td>
            <td>{{report.comment}}</td>
            <td>
                <button type="submit" class="btn btn-xs btn-default btn-block" ng-click="findReport(report.reportID)"  name="update">update</button>
            </td>
        </tr>
    </table>
    <br>
    <h4 class="page-title">In Progress</h4>
    <table class="table table-bordered" style="width:1100px;">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Location</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Comment</th>
            <th>Actions</th>

        </tr>
        <tr ng-repeat="report in reportList" class="info" ng-if="report.status == 2 && report.assignedTo == currentAgencyId && report.isDeleted == 0">
            <td>{{report.reportID}}</td>
            <td>{{report.reportName}}</td>
            <td>{{report.location}}</td>
            <td>{{report.created_at}}</td>
            <td>{{report.updated_at}}</td>
            <td>{{report.comment}}</td>
            <td>
                <button type="submit" class="btn btn-xs btn-default btn-block" ng-click="findReport(report.reportID)"  name="update">update</button>
            </td>
        </tr>
    </table>
    <br>
    <h4 class="page-title">Resolved</h4>
    <table class="table table-bordered" style="width:1100px;">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Location</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Comment</th>
            <th>Actions</th>

        </tr>
        <tr ng-repeat="report in reportList" class="success" ng-if="report.status == 3 && report.assignedTo == currentAgencyId && report.isDeleted == 0">
            <td>{{report.reportID}}</td>
            <td>{{report.reportName}}</td>
            <td>{{report.location}}</td>
            <td>{{report.created_at}}</td>
            <td>{{report.updated_at}}</td>
            <td>{{report.comment}}</td>
            <td>
                <button type="submit" class="btn btn-xs btn-default btn-block" ng-click="findReport(report.reportID)"  name="update">update</button>
            </td>
        </tr>
    </table>
    <br>
</div>