<script>

</script>

<div class="spacer visible-xs"></div>
<div class="container-fluid-full">
<div class="table-responsive " style="padding-left:50px;" ng-init="listReports()">
    <h2 class="page-title">{{currentAgencyName}}</h2>
    <br>

    <div class="btn-group" role="group">
        <button type="button" ng-click="showPending()"  class="btn btn-default filterButton">Pending</button>
        <button type="button" ng-click="showOngoing()"  class="btn btn-default filterButton">Ongoing</button>
        <button type="button" ng-click="showResolved()" class="btn btn-default filterButton">Resolved</button>
    </div>

    <div ng-if="pending == 1">
    <table class="table table-bordered" style="width:1100px;">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Location</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Comment</th>
            <th>Update</th>
        </tr>
        <tr ng-repeat="report in PreportList" ng-if="report.assignedTo == currentAgencyId" class="warning" >
            <td>{{report.reportID}}</td>
            <td>{{report.reportName}}</td>
            <td>{{report.location}}</td>
            <td>{{report.created_at}}</td>
            <td>{{report.updated_at}}</td>
            <td>{{report.comment}}</td>
            <td>
                <button type="submit" class="btn btn-xs btn-default btn-block" ng-click="findReport(report.reportID)"  name="update"><i class="fa fa-pencil-square-o"></i></button>
            </td>
        </tr>
    </table>
    </div>
    <div ng-if="ongoing == 1">
    <table class="table table-bordered" style="width:1100px;">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Location</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Comment</th>
            <th>Update</th>
        </tr>
        <tr ng-repeat="report in OreportList" class="info" ng-if="report.assignedTo == currentAgencyId">
            <td>{{report.reportID}}</td>
            <td>{{report.reportName}}</td>
            <td>{{report.location}}</td>
            <td>{{report.created_at}}</td>
            <td>{{report.updated_at}}</td>
            <td>{{report.comment}}</td>
            <td>
                <button type="submit" class="btn btn-xs btn-default btn-block" ng-click="findReport(report.reportID)"  name="update"><i class="fa fa-pencil-square-o"></i></button>
            </td>
        </tr>
    </table>
    </div>

    <div ng-if="resolved == 1">
    <table class="table table-bordered" style="width:1100px;">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Location</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Comment</th>
            <th>Update</th>

        </tr>
        <tr ng-repeat="report in RreportList" class="success" ng-if="report.assignedTo == currentAgencyId">
            <td>{{report.reportID}}</td>
            <td>{{report.reportName}}</td>
            <td>{{report.location}}</td>
            <td>{{report.created_at}}</td>
            <td>{{report.updated_at}}</td>
            <td>{{report.comment}}</td>
            <td>
                <button type="submit" class="btn btn-xs btn-default btn-block" ng-click="findReport(report.reportID)"  name="update"><i class="fa fa-pencil-square-o"></i></button>
            </td>
        </tr>
    </table>
    </div>
    <br>
</div>
