<br><br><br><br><br>

<h1 style="padding-left: 100px">Manage Reports</h1>
<br><br>
<div class="table-responsive " style="padding-left:100px;">

    <table class="table table-hover" style="width:1000px;">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Type</th>
            <th>Location</th>
            <th>Date/Time</th>
            <th>Status</th>
            <th>edit/delete</th>

        </tr>
        <tr ng-repeat="report in reportList" class="info">
            <td>{{report.reportID}}</td>
            <td>{{report.reportName}}</td>
            <td>{{report.reportType}}</td>
            <td>{{report.location}}</td>
            <td>{{report.created_at}}</td>
            <td>
                <div ng-if="report.status == 1">Pending</div>
                <div ng-if="report.status == 2">In Progress</div>
                <div ng-if="report.status == 3">Resolved</div>
            </td>

            <td>
                <div ng-if="report.status == 1">
                    <button type="submit"  ng-click="editReport()" name="edit">edit</button>
                    <button type="submit" ng-click="deleteReport(report.reportID)"  name="delete">delete</button>
                </div>
                <div ng-if="report.status == 2 ">
                    Not applicable
                </div>
                <div ng-if="report.status == 3 ">
                    Not applicable
                </div>
            </td>

        </tr>
    </table>
</div>x