<br><br><br><br><br>
<h1 style="padding-left: 100px">Manage Reports</h1>
<br><br>
<div class="table-responsive" style="padding-left:100px;">

    <table class="table table-hover" style="width:1000px;">
        <tr>
            <th>No</th>
            <th>Incident</th>
            <th>Type</th>
            <th>Location</th>
            <th>Date/Time</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Incident1</td>
            <td>Type</td>
            <td>Location</td>
            <td>Date/Time</td>
            <td>Pending</td>
            <td>Actions</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Incident2</td>
            <td>Type</td>
            <td>Location</td>
            <td>Date/Time</td>
            <td>Pending</td>
            <td>Actions</td>
        </tr>
    </table>
</div>