<br><br><br><br><br>

<h2 class="page-title" style="padding-left: 100px">Update Report No {{reportID}}</h2>
<br><br>

<form class="form-horizontal" role="form"  ng-init="populateReport()">
    <div class="form-group">
        <label class="col-sm-2 control-label">Report Name</label>
        <div class="col-sm-8">
            <input type="text" ng-model="reportName" class="form-control" readonly>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-8">
            <input type="text" ng-model="location" class="form-control" readonly>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Reported By</label>
        <div class="col-sm-8">
            <input type="text" ng-model="reportedBy" class="form-control" readonly>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Contact</label>
        <div class="col-sm-8">
            <input type="text" ng-model="contactNo" class="form-control" readonly>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Status</label>
        <div class="col-sm-8">
            <select ng-model="status" class="form-control" >
                <option value=1>Pending</option>
                <option value=2>In Progress</option>
                <option value=3>Resolved</option>
            </select>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Comment</label>
        <div class="col-sm-8">
           <textarea class="form-control" ng-model="comment" rows="8" col="50" name="comment"></textarea>
        </div>
    </div>
    <br>
    <div class='form-group'>
        <div class='col-sm-10 col-sm-offset-2'>
            <button type="submit" class="btn btn-sm btn-default" ng-click="updateReport()" name="submit">Submit</button>
        </div>
    </div>
    <br>
</form>
