<br><br><br><br><br>

<h2 class="page-title" style="padding-left: 100px">Edit Report No {{reportID}} </h2>
<br><br>

<form class="form-horizontal" role="form"  ng-init="populateReport()">
    <div class="form-group">
        <label class="col-sm-2 control-label">Report Name</label>
        <div class="col-sm-8">
            <input type="text" ng-model="reportName" class="form-control">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-8">
            <input type="text" ng-model="location" class="form-control">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-8">
            <select ng-mode='reportType' ng-options="rp.reportTypeId as rp.reportTypeName for rp in reportTypes" ng-model="reportType" class="form-control" >
            </select>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Assign To</label>
        <div class="col-sm-8">
            <select ng-model="assignedTo" class="form-control" ng-options="agency.agencyId as agency.agencyName for agency in agencyList">
            </select>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Reported By</label>
        <div class="col-sm-8">
            <input type="text" ng-model="reportedBy" class="form-control">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Contact</label>
        <div class="col-sm-8">
            <input type="text" ng-model="contactNo" class="form-control">
        </div>
    </div>
    <br>
    <div class='form-group'>
        <div class='col-sm-10 col-sm-offset-2'>
            <button type="submit" class="btn btn-sm btn-default" ng-click="updateReport()" name="submit">Submit</button>
        </div>
    </div>
    <br>



</form>
