<div class="spacer visible-xs"></div>
<div class="container-fluid-full">
    <h3 class="page-title">
        User Profile
    </h3>

    <form id="updateProfileForm" class="form-horizontal" role="form" ng-init="pUserProfile()">
        <fieldset>
            <legend>User Details</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>

                <div class="col-sm-8">
                    <label ng-model="upusername">{{upusername}}</label>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-sm-2 control-label">Account Type:</label>

                <div class="col-sm-8">
                    <label ng-model="upacctype">{{upacctype}}</label>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-sm-2 control-label">Agency:</label>

                <div class="col-sm-8">
                    <label ng-model="upagency">{{upagency}}</label>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>

                <div class="col-sm-8">
                    <input class="form-control input-lg" type="text" ng-model="upemail"/>
                </div>
            </div>
            <br>

            <div class='form-group'>
                <div class='col-sm-10 col-sm-offset-2'>
                    <input class="btn btn-lg btn-default" type="button" ng-click="eUserProfile()" value="Update"/>
                </div>
            </div>
        </fieldset>
    </form>

    <form id="changePassForm" class="form-horizontal" role="form">
        <fieldset>
            <legend>Change Password</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label">Old Password:</label>

                <div class="col-sm-8">
                    <input class="form-control input-sm" type="password" ng-model="upopass"/>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-sm-2 control-label">New Password:</label>

                <div class="col-sm-8">
                    <input class="form-control input-sm" type="password" ng-model="upnpass"/>
                </div>
            </div>
            <br>

            <div class='form-group'>
                <div class='col-sm-10 col-sm-offset-2'>
                    <input class="btn btn-lg btn-danger" type="button" ng-click="changePass()" value="Change Password"/>
                </div>
            </div>
        </fieldset>
    </form>

</div>